@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-transform: capitalize;
}
body {
  background-color: #071426;
}

header {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px 30px;
  height: 100px;
  z-index: 999;
}

#nav-bar a {
  text-decoration: none;
  color: oldlace;
  padding: 50px;
}

#front {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}
#front input {
  padding: 10px;
  margin: 10px;
}
#front label {
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(246, 86, 68);
}
#front div {
  font-size: 1.2em;
  color: tomato;
  font-weight: 900;
}
#front div p {
  font-size: 0.8em;
  font-weight: 500;
  color: rgb(255, 170, 155);
}
#nav-bar a:hover {
  color: #550004;
  font-weight: 900;
  font-size: 1.2em;
}

#copyright {
  font-size: 1.2em;
  font-weight: 600;
  color: beige;
}

@media (max-width: 1024px) {
  #nav-bar {
    font-size: 1em;
  }
  #nav-bar a {
    padding: 5px;
  }
  header {
    padding: 5px;
  }
  #front {
    font-size: 0.8em;
    font-family: 400;
    padding: 5px;
    padding-top: 100px;
  }
  #front input {
    font-size: 0.8em;
    padding: 5px;
  }
  #front label {
    font-size: 0.9em;
    padding: 5px;
  }
  #front div {
    font-size: 1em;
    padding: 10px;
  }
}
